# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

#other files
*k8s*
*k8s*/
*k8s*.yaml
*k8s*.yml
*k8s*.json
*k8s*.backup
*k8s*.zip
*k8s*.tar
*k8s*.gz
*k8s*.tar.gz
*k8s*.tgz
*k8s*.sh

# Ignore .env files
.env

# But do not ignore .env.example
!.env.example

# tmp directory
tmp/